<%- include("partials/header.ejs") %>
<h1>Zodiac Controllers</h1>
<h3>Let's learn about the signs!</h3>
<a href="/air">air</a>
<a href="/fire">fire</a>
<a href="/water">water</a>
<a href="/earth">earth</a>

<%- include("partials/footer.ejs") %>