<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Zodiac Controllers</h1>
    <p>Let's learn about the signs!</p>
    <ul>
        <li><a href="/air">air</a></li>
        <li><a href="/water">water</a></li>
        <li><a href="/earth">earth</a></li>
        <li><a href="/fire">fire</a></li>
    </ul>
</body>
</html>