<%- include("partials/header.ejs") %>

<a href="/">Home</a>

<% signs.forEach(sign => { %>
    <%= sign %>
<% }) %>

<p>Traits</p>
<ul>
<% traits.forEach(trait => { %>
   <li><%= trait %></li>
<% }) %>
</ul>

<%- include("partials/footer.ejs") %>